@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--white:#ffff;
--black:#141414 ;
--blue:#109ac9 ;
--grey:#888;
--darkgray:#1b1b1b;
--green:#50C878;
--red:#f94141;


}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--black);
  color:var(--white);
  font-family: "Inter", serif;
  /* height: 200vh; */
  /* overflow: hidden; */

}

.current {
  border-left: 2px solid transparent; /* Add a 2px left border */
  animation: border-glow 0.75s infinite;
  animation-timing-function: ease;
}
.end-of-char{
  border-right: 2px solid var(--black); /* Add a 2px left border */
  animation:  border-right-glow 0.75s infinite;
  animation-timing-function: ease;
}



@keyframes border-glow{
  0%{
    border-left-color:var(--black) ;

  }
  100%{
    border-left-color: var(--grey);

  }

}
@keyframes border-right-glow{
  0%{
    border-right-color:var(--black) ;

  }
  100%{
    border-right-color: var(--grey);

  }

}
